/config.php
/data/*.sqlite
/data/*.sqlite-journal
/data/*.sqlite-wal
/data/*.sqlite-shm
/data/*.lock
/data/logs/
/bots/*/
/bots/*/config.php
/data/db_backup.json
/data/backups/
/bots/*/states/
/templates/*/states/
/.env
/*.log
/config.php.bak
/update.sh.bak
/*.bak
/data/backup_tmp/
/data/backup_dispatcher.lock
/data/cron_dispatcher.lock
/data/config_warn.lock
/.ssh
/.env.local
/.env.prod
/.env.dev
/vendor/
