/config.php
/data/*.sqlite
/data/*.sqlite-journal
/data/*.sqlite-wal
/data/*.sqlite-shm
/data/*.lock
/data/logs/
/bots/*/
/bots/*/config.php
/data/db_backup.json
/data/backups/
/bots/*/states/
/templates/*/states/
/.env
/*.log
